@model IEnumerable<dynamic>
    
@if(Model != null) {
    foreach (var data in Model)
    {
        <div class="card mb-3" style="border-radius: 8px;">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="title-pilar">@data.tahun_dokumen</div>
                    <a asp-action="DaftarSemuaCabang" asp-controller="MenuPemetaanSosial" asp-route-tahun_dokumen="@data.tahun_dokumen"
                    class="btn p-2" type="button" style="font-weight: 400; text-decoration: none; background-color: #ffca0d;">
                    <div class="d-flex flex-row">
                        <div class="card d-flex justify-content-center align-items-center"
                                style="background-color: #FFF9E5; border-color: transparent; width: 32px; height: 32px;">
                            <i class="fa-solid fa-pen-to-square" style="color: #FFCA0D;"></i>
                        </div>
                        <div class="ms-2">
                            <div class="mt-2 d-flex align-items-center text-masterdata">
                                Lihat Detail
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                @if (data.status_verifikasi != null)
                {
                    <div class="title-pilar" style="color: @(data.status_verifikasi == "Dokumen Telah Diverifikasi" ? "#13CE66" : "#F8183E");">
                        @data.status_verifikasi
                    </div>
                }
            </div>
        </div>
    }
}